<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 가입 화면!!!</title>

    <style>
        html,
        body {
          height: 100%;
        }
        .container {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 100%;
          align-items: center;
          /* justify-content: center; */
        }
        .input {
          width: 150px;
          margin: 3px 0;
          outline: none;
          text-align: center;
        }
      </style>

</head>
<body>
<div>
    <form class="container" action="/members/new" th:object="${memberForm}" method="post">
        <h1>회원 정보 입력</h1>
        <input type="text" th:field="*{userId}" class="input" placeholder="ID" />
        <input type="text" th:field="*{userName}" class="input" placeholder="이름" />
        <input type="text" th:field="*{password}" class="input" placeholder="PASSWORD" />
        <input type="text" th:field="*{email}" class="input" placeholder="EMAIL" />
        <input type="submit" value="제출">
    </form>
</div>
</body>
</html>