<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main_page</title>

</head>
<body>
<div th:fragment="menu" >
    <div th:if="${member} == null">
        <form action="/login"  method="post" >
            <div>
                <h1>로그인 화면!!!</h1>
                <input type="text" id="loginId" name="loginId" placeholder="아이디">
                <input type="password" id="password" name="password" placeholder="비밀번호">
                <input type="submit" value="로그인">
            </div>
        </form>
        <form action="/members/new" method="get">
            <input type="submit" value="회원가입">
        </form>
    </div>

    <div th:if="${member} != null">
        <!--여기에 프로필 사진을 넣어주고 싶은데...-->
        <ul>
            <li th:text="${member.userName}">사용자 이름</li>
        </ul>

    </div>

</div>


</body>
</html>