<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>회원가입 화면</h1>
<form action="/join" method="post">
    <fieldset>
        <legend>회원가입</legend>
        <label>이름을 입력하세요: <input type="text" name="name"></label>
        <label>아이디를 입력하세요: <input type="text" name="id" size="15"></label>
        <label>비밀번호를 입력하세요: <input type="password" name="password" size="15"></label>
        <input type="submit" value="가입하기">
    </fieldset>
</form>

</body>
</html>